{% extends "base.html" %}
{% block content %}

<div class="container">
	<div style="background:white">
		<h4 style="color:tomato">API keys & configuration</h4>
		<hr>        
	</div>
	<form method="post" action="{{ url_for('admin.config') }}">
	<div class="row">
		<div class="col-6">
			<h5>Webtools</h5>
			<div class="form-group">	
				<label for="formid">Form ID</label> 
				<input class="form-control" type="text" id="formid" name="formid" value="{{ formid }}">
				<label for="key1">Form Key 1</label> 
				<input class="form-control" type="text" id="key1" name="key1" value="{{ key1 }}">
				<label for="key2">Form Key 2</label>
				<input class="form-control" type="text" id="key2" name="key2" value="{{ key2 }}">
				<label for="key3">Form Key 3</label> 
				<input class="form-control" type="text" id="key3" name="key3" value="{{ key3 }}">
			</div>
		</div>
		<div class="col-6">
			<h5>Box</h5>
			<div class="form-group">
				<label for="folderid">Folder ID</label>
				<input class="form-control" type="text" id="folderid" name="folderid" value="{{ folderid }}">
				<label for="boxclientid">Client ID</label>
				<input class="form-control" type="text" id="boxclientid" name="boxclientid" value="{{ boxclientid }}">
				<label for="boxclientsecret">Client Secret</label>
				<input class="form-control" type="text" id="boxclientsecret" name="boxclientsecret" value="{{ boxclientsecret }}">
				<label for="boxaccesstoken">Access Token</label>
				<input class="form-control" type="text" id="boxaccesstoken" name="boxaccesstoken" value="{{ boxaccesstoken }}">
				<label for="boxrefreshtoken">Refresh Token</label>
				<input class="form-control" type="text" id="boxrefreshtoken" name="boxrefreshtoken" value="{{ boxrefreshtoken }}">
				<br>
			</div>	
			<h5>Sketchfab</h5>
			<div class="form-group">
				<label for="token">Sketchfab API Token</label> 
				<input class="form-control" type="text" id="token" name="token" value="{{ token }}">
				<label for="collectionid">Default Collection ID</label>
				<input class="form-control" type="text" id="collectionid" name="collectionid" value="{{ collectionid }}">
				<br>
			</div>
		</div>
		<div class="container">
			<button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
		</div>	
	</form>
		</div> 
	</row> 
</div>  
<br>

{% endblock %}
