asn1crypto==0.24.0
attrs==18.2.0
boxsdk==2.0.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.4.2
Flask==1.0.2
Flask-Login==0.4.1
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
metrics==0.3.3
pandas==0.23.4
pathlib2==2.3.3
pathspec==0.5.5
pbr==5.1.2
pycparser==2.19
Pygments==2.2.0
pygount==1.0.0
PyJWT==1.7.1
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
requests-toolbelt==0.8.0
scopus==1.4.2
six==1.12.0
SQLAlchemy==1.2.15
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.10.11
WTForms==2.2.1
pymysql==0.7.2
