[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
flask = "*"
google-api-python-client = "*"
google-auth = "*"
google = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"

[requires]
python_version = "3.7"
