[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
trafaret = "*"
sqlalchemy = "*"
aiopg = "*"
trafaret-config = "*"
aiohttp-jinja2 = "*"
jinja2 = "*"
aiohttp-security = "*"
aiohttp-session = "*"
bcrypt = "*"
cryptography = "*"
uvloop = "*"

[requires]
python_version = "3.7"
