{% extends "base.html" %}
{% block content %}

<div class="container">
	<a class="btn btn-sm btn-outline-info" href="{{ url_for('admin.refresh_deposit_cache') }}">Refresh Deposit Cache</a>
	<a class="btn btn-sm btn-outline-info" href="{{ url_for('admin.upload') }}" role="button">Upload Queued Models</a>
	<a class="btn btn-sm btn-outline-info" href="{{ url_for('admin.refresh_deposit_thumbnails') }}">Update Thumbnails</a>
</div>	
<br>
<div class="container">	<h5>Deposits</h5>

	<table id="cache" class="table table-sm table-striped table-bordered table-responsive">
		<thead>
			<tr>
				<th>file</th>
				{% for column in  columns %}
				<th>{{ column }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for item in cache %}
			<tr>
				<td>{% if item.box_model_path %}
						<a class="btn btn-sm btn-info" href="{{ item.box_model_path }}" target="_blank">&#8681</a>
					{% endif %}</td>
				{% for column in columns %}
				<td> {{ item[column] }}</td>
				{% endfor %}
			</tr>
			{% endfor %}			
		</tbody>
	</table>
</div>	
<script type="text/javascript">
	$(document).ready(function() {
	    $('#cache').DataTable();
	} );
</script>
{% endblock %}