[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
boto = "*"
unpack = "*"
filechunkio = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
