{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
			<div class="col-sm-2">
				<div class="card">
					<header class="card-header"><h5>Filters</h5></header>
					<header class="card-header">
						<h6 class="title">Collections</h6>
					</header>
					<div class="card-body">
						<form action="{{ url_for('user.gallery') }}" method="GET">
							{% for collection in facets['collections']|unique|sort %}
								<label class="form-check">
								  <input class="form-check-input" type="checkbox" value="{{ collection }}" id="collections" name="collections">
								  <span class="form-check-label">{{ collection }}</span>
								</label>  
							{% endfor %}
							<button type="submit" class="btn btn-sm btn-primary">Apply</button>
					</div> <!-- card-body.// -->
			
					<header class="card-header">
						<h6 class="title">Tags</h6>
					</header>
						<div class="card-body">
							{% for tag in facets['tags']|unique|sort %}
								<label class="form-check">
								  <input type="checkbox" value="{{ tag }}" id="tags" name="tags">
								  <span class="form-check-label">{{ tag }}</span>
								</label>  
							{% endfor %}
							<button type="submit" class="btn btn-sm btn-primary">Apply</button>
						</form>
						</div>
				</div>
			</div>

			<div class="col-sm-8">
				<div class="card border-primary">
					<header class="card-header">
						<code>{{ url_for('public.index', _external=True) }}?{{ public_args }}</code>
					</header>
					<div class="card-body">
						<div class="embed-responsive embed-responsive-16by9">
		  					<iframe class="embed-responsive-item" src="{{ url_for('public.index', _external=True) }}?{{ public_args }}"></iframe>
						</div>
					</div>	
				</div>
			</div>	


			<div class="col-sm-2">
				<div class="card">
					<header class="card-header"><h5>Format</h5></header>
					<header class="card-header">
						<h6 class="title">Links</h6>
					</header>
					<div class="card-body">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" checked data-toggle="toggle">
						    Enable viewer links
						  </label>
						</div>
						<button type="submit" class="btn btn-sm btn-primary">Apply</button>
					</div>
					<header class="card-header">
						<h6 class="title">Thumbnails</h6>
					</header>
					<div class="card-body">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" checked data-toggle="toggle">
						    Enable thumbnails
						  </label>
						</div>
						<button type="submit" class="btn btn-sm btn-primary">Apply</button>			
					</div> <!-- card-body.// -->
					<header class="card-header">
						<h6 class="title">Pagenation</h6>
					</header>
					<div class="card-body">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" checked data-toggle="toggle">
						    Pagenate gallery results
						  </label>
						</div>
						<button type="submit" class="btn btn-sm btn-primary">Apply</button>			
					</div> <!-- card-body.// -->

		</div>
	<br>	
</div>
{% endblock %}