{% extends "base.html" %}

{% block content %}

    {% if error %}<div class="error" style="color: red;"><strong>Error:</strong> {{ error }}</div>{% endif %}

<div class="text-center row">
    <form class="form-signin" action="/api/signup?token={{ token }}" method="post">
      <p><img class="mb-4" src="https://raw.githubusercontent.com/Grainger-Engineering-Library/3deposit/master/services/admin/src/assets/img/logo.png" width="144" height="144"></p>
      <input class="form-control" id="username" name="username" type="username" placeholder="username" value="" autofocus/>
      <br>
      <input class="form-control" id="email" name="email" type="email" placeholder="email" value=""/>
      <br>
      <input class="form-control" id="password" name="password" type="password" placeholder="password"value=""/>
      <input class="form-control" id="confirm" name="confirm" type="password" placeholder="confirm password"value=""/>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="signup">Sign up</button>
    </form>
</div>

<style>
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="confirm"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

{% endblock %}