{% extends "base.html" %}

{% block content %}

<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> for updates on  your deposit. You will be notified when it has been processed and published.</p>
    <hr>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Submit another deposit</a>
    </p>
  </div>

  {% endblock %}