[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymediainfo = "*"
flask = "*"
requests = "*"
gunicorn = "*"
trimesh = "*"
pillow = "*"
pyyaml = "*"
networkx = "*"

[requires]
python_version = "3.7"
